.proyectos img {
    /* max-width: 50%; */
    height: 90px;
    width: 142px;
}

.proyectos .images img {
    width: 42px;
}

.apv,
.blogcafe,
.simulador,
.frontendstore,
.calculadora,
.blog-app,
.calculator,
.budget,
.MCSS,
.MJS,
.dogger {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descripcion {
    grid-column: 2 / 3;
}

.imagen {
    grid-column: 1 / 2;
}

.images {
    grid-column: 1/ 2;
}

@media (max-width: 768px) {
    .proyectos img {
        width: 50%;
    }
}